<div class="container">
  <div class="row justify-content-center pt-3 mb-3">
    <div class="h-100 pull-right"><%= image_tag 'f1006_4.png', size: '200x200' %></div>
  </div>
  <div class="row justify-content-center ">

    <div class="col-8 row justify-content-center border-top border-bottom border-dark"><h1 class="font-weight-bolder" style="font-size:60px; font-family: 'Garamond'">- Welcome to QOL Portal -</h3></div>

  </div>
  <div class="row justify-content-center mt-4">
    <div class="col text-center text-secondary h6">
    <p class="font-weight-bolder" style="font-size:20px; font-family: 'SimSun'">このサイトは『生活の質』の向上につながる物「Goods」・行い「Action」を投稿し共有しあい</p>
    <p class="font-weight-bolder" style="font-size:20px; font-family: 'SimSun'">『生活の質』をどんどん上げることを目的としたサイトです。</p>
    <p class="font-weight-bolder" style="font-size:20px; font-family: 'SimSun'">どなたでもサイトは自由に閲覧することはできますが、</p>
    <p class="font-weight-bolder" style="font-size:20px; font-family: 'SimSun'">下記機能は会員登録が必要になります。</p>
    <br>
    <p class="font-weight-bolder" style="font-size:20px; font-family: 'SimSun'">・投稿　・いいね　・コメント　・フォロー</p>
    </div>
  </div>
</div>