<div class="container">
  <div class="row justify-content-center pt-3 mb-3">
    <div class="h-100 pull-right"><%= image_tag 'f1006_4.png', size: '230x200' %></div>
  </div>
  <div class="row justify-content-center">

    <div class="col-sm-8 row justify-content-center border-top border-bottom border-dark">
      <div class="font">- Welcome to QOL Portal -</div>
    </div>

  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-sm text-center text-secondary h6">
    <div class="font-weight-bolder about_text">このサイトは『生活の質』の向上につながる物「Goods」・行い「Action」を投稿し共有しあい</div>
    <div class="font-weight-bolder about_text">『生活の質』をどんどん上げることを<div class="br">目的としたサイトです。</div></div>
    <div class="font-weight-bolder about_text">どなたでもサイトは自由に<div class="br">閲覧することはできますが、</div></div>
    <div class="font-weight-bolder about_text">下記機能は会員登録が必要になります。</div>
    <br>
    <div class="font-weight-bolder about_text">・投稿　・いいね　・コメント　・フォロー</div>
    </div>
  </div>
</div>