/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.custom-link i {
    color: #87cefa; /* 通常のアイコン色 */
}

.custom-link:hover i {
    color: #1e90ff; /* ホバー時のアイコン色 */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: radial-gradient(circle at 85% 1%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 96%,transparent 96%, transparent 100%),radial-gradient(circle at 14% 15%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 1%,transparent 1%, transparent 100%),radial-gradient(circle at 60% 90%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 20%,transparent 20%, transparent 100%),radial-gradient(circle at 79% 7%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 78%,transparent 78%, transparent 100%),radial-gradient(circle at 55% 65%, hsla(190,0%,93%,0.05) 0%, hsla(190,0%,93%,0.05) 52%,transparent 52%, transparent 100%),linear-gradient(176deg, rgba(37,56,222, 0.08),rgb(96, 189, 244));
}

.footer {
    margin-top: auto;
}

.slider .slick-slide.slick-center {
  transform: scale(1); /* 中央にきたメインスライドが通常サイズに拡大 */
  opacity: 1; /* スライドの透明度を1に設定し透明じゃなくする */
}

.slider img {
  width: 297px;
  height: 210px;
}

.slick-slide img {
  height: 30vw;
  max-height: 400px;
  min-height: 350px;
}

.slick-slide {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transform: scale( .50 );
}
.is--active {
  transform: scale( 1 );
}

.slick-dots {
  text-align: center;
  margin: 20px 40px 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent; /* ドットのテキストを透明にして非表示にする */
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  background: #d3d3d3; /* ドットの背景色を薄いピンクに設定 */
  border: none;
}

.slick-dots .slick-active button {
  background: #696969; /* アクティブなドットの背景色を濃いピンクに設定 */
}

.mypage-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  z-index: 999;
}


.mypage-btn-container {
  position: relative;
  width: 130px;
}

.mypage-btn-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mypage-dropdown a {
  color: #5c3e26;
  text-decoration: none;
}

.mypage-dropdown a:hover {
  color: #8b5c38;
}

.category-container:hover {
  cursor: pointer;
}

 /*ヘッダーが常に表示されるように記述*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.text-invalid {
  color: #bbb;
}
.text-active {
  font-weight: bold;
  color: #0a0;
}

.like-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #808080;
 margin-left: 20px;
 }

.unlike-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #e54747;
 margin-left: 20px;
 }

.no-decoration:hover {
  text-decoration: none;
}

.large-text {
    font-size: 1.3em;
  }

.custom-select select option[value=""] {
  display: none;
}
