<footer class="footer" style="border-top: 4mm ridge rgba(255, 255, 255, .2); background-color: #b6e5ff;">
  <br>
  <br>
  <div class="container mt-5">
     <div class="row">
       <p class="mx-auto font-weight-bolder" style="font-family: 'OCRB'">CopyRight Dokuro Tenshi</p>
     </div>
   </div>
</footer>